body{
	background-image:url("../images/background.png");
	background-color:white;
}

div{color:white;}

#container{
	width:2000px;
	margin:auto;
		
	
}

#pageTitle{
	
	width:100%;
	height:250px;
	background-attachment:scroll;
	background-repeat:no-repeat;
	background-position:center;
	padding-top:100px;
	text-align:center;
	
}
h1.bgClass1{
	background-image:url("../images/keyBoard.jpg");
}
h1.bgClass2{
	background-image:url("../images/colorPenc.jpg");
}
h1.bgClass3{
	background-image:url("../images/grafikWallp.jpg");
}
h1.bgClass4{
	background-image:url("../images/games/background.png");
}
h1.bgClass5{
	background-image:url("../images/interess.jpg");
}



.titleClass{
	font-family:Arial;
	font-size:90px;
	color:white;

	
}
form{
	height:105px;
	
}
#buttonSize{
	width:400px;
	height:100px;
	float:left;


}

div.underText{
	font-family:Arial;
	font-size:30px;
	text-align:center;
	color:white;
	
	
	
}

.buttonStyle{
	
	background-color:gray;
	border:none;
	text-align:center;
	text-transform: uppercase;
	font-family:Sans-Serif;
	font-size:30px;
	color:white;
	display:inline-block;
	cursor:pointer;
	margin:no-margin;
	text-decoration:none;

	
}

.buttonStyle:hover{
	background-color:#f78e2c;
	
	
}


.notActButt{
	cursor:not-allowed;
	background-color:#f78e2c;
	opacity:0.5;
}


/* Page content layers*/
#pageContent{
	width:100%;
	height:750px;
	background-color:gray;
	text-align:right;
	
	
}
#pageGallery{
	width:100%;
	height:3000px;
	background-color:gray;
	text-align:right;
	
}
#pagePosters{
	width:100%;
	height:3000px;
	background-color:gray;
	text-align:right;
	
}
	
#pageGames{
	width:100%;
	height:3200px;
	background-color:gray;
	text-align:right;
	
}



/* Title layers */
h2.title2{
	
	color:#ff9000;
	font-size:40px;
	text-transform:uppercase;
	font-family:Arial;
	border-bottom-style:solid;
	border-color:#ff9000;
	border-width:4px;
	text-align:right;
	padding-right:100px
	
	
}
/* Text boxes */
.textBox{
	
	padding-top:20px;
	padding-right:100px;
	
}
#textBoxW{
	width:60%;
	height:350px;
	float:right;
}
#textBoxW1{
	width:90%;
	height:700px;
	float:right;
	margin:auto;
	
}
#textBoxW2{
	width:90%;
	height:700px;
	float:right;
	margin:auto;
	text-align:center;
	font-family:Arial;
	font-size:40px;
	

	
}

/* List classes */
li.liClass{
	text-align:center;
	float:right;
	margin:20px;

	
}
hr{
	width:100%;
	
}

#hobbyList{
	font-family:Arial;
	font-size:30px;
	width:100%;
	list-style-type:none;
	float:right;
	display: inline-flex;
	
	
}

li.li1Class{
	padding-left:37%;
	
}
/*Classes for drawings and posters */

#artL{
	margin:35px;
    position: relative;
	float:left;
	
	
	
	
}

#artD{
	margin:10px;
    position: relative;
	float:left;
	
	
}

#artC{

	margin-left:60px;
	margin-right:35px;
	margin-top:35px;
	margin-bottom:60px;
    position: relative;
	float:left;

}
#artW{

	margin-left:35px;
	margin-right:60px;
	margin-top:35px;
	margin-bottom:60px;
    position: relative;
	float:left;

}
#artS{
	margin-left:480px;
	margin-right:35px;
	margin-top:35px;
	margin-bottom:60px;
    position: relative;
	float:left;
	
}



img.art
{

	border-style:solid;
	border-width:2px;
	border-color:black;
    -webkit-transition: all 150ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transform: scale(1); 
    -moz-transition: all 150ms ease-in;
    -moz-transform: scale(1);
    transition: all 150ms ease-in;
    transform: scale(1); 
	/*cursor:pointer; */	

}
img.art:hover
{

     box-shadow: 0px 0px 150px #000000;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);   
    -moz-transition: all 150ms ease-in;
    -moz-transform: scale(1.3);
    transition: all 150ms ease-in;
    transform: scale(1.3);
}
#ncImage{
	margin:20px;

	
}

#aMargin{
	
	width:92%;
	height:800px;
	margin:auto;
}

#aMargin2{
	
	width:92%;
	height:410px;
	margin:auto;
}
#halfContent{
	width:48%;
	height:100%;
	/*background-color:#282727; */
	float:left;
	margin:10px;
	text-align:left;
	font-family:Arial;
	font-size:40px;
	color:white;
	

}
#description{
	width:70%;
	height:100%;
	margin:auto;
	font-family:Arial;
	font-size:40px;
	text-align:center;
	
	
}


div.freeText{
	text-align:left;
	font-family:Arial;
	font-size:40px;
	color:#ff9000;
	
}
#interesPage{
	width:100%;
	height:3700px;
	background-color:gray;
	text-align:right;
	
}



	